@font-face {
    font-family: "champignon";
    src: url(assets/web_font.ttf);
}

@font-face {
    font-family: "mono";
    src: url(assets/mono.otf);
}

a:link, a:visited{
    color: rgb(159, 159, 159);
    text-decoration:none;
    filter: blur(0.0px);
}

a:hover, a:active{
    color:rgb(73, 73, 73);
    text-decoration: none;
    filter: blur(0.5px);
}

a{
    font-size:25px;
    font-family: "champignon";
    font-weight: 200;
}

/*navigation*/

#nav-container{
    margin:2%;
    margin-top:0.5%;
    margin-bottom:0%;
    position:fixed;
    display: flex;
    justify-content: space-between;
    width: 96%;
}

.nav-box a{
    display:flex;
    flex-direction: column;
    row-gap:30px;
}

.nav-box{
    text-align:right;
}

#nav-button{
    background-color: rgba(240, 248, 255, 0);
    color: rgb(170, 0, 0);
    border:none;
    font-size: 25px;
    cursor:pointer;
  }

.nav-content{
    display:none;
}

.nav-box:hover .nav-content{
    display:flex;
    flex-direction: column;
    row-gap:10px;
    padding-top:15px;
}

/*slideshow*/

body {
    font-family: monospace;
    overflow: hidden;
    background: rgb(0, 0, 0);
}

.container {
    padding:5%;
    padding-top:15%;
    display:flex;
    justify-content: space-around;
}

.ascii-container {
    white-space: pre-wrap;
    font-size: 10px;
    line-height: 10px;
    border-width: 1px;
    padding:0.5%;
    color: rgb(255, 255, 255);
    border-style:solid;
}

/* cd-video */
.cdvideo{
    display:flex;
    justify-content: center;
    margin:0;
    padding-top:10%;
}

/* footer*/
.footer {
    margin:2%;
    margin-top:0%;
    margin-bottom:1%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 96%;
    display: flex;
    justify-content: flex-end;
    column-gap:30px;
  }


  /* painting slideshow*/
  #slideshow-container {
    max-width: 550px;
    margin: 0 auto; /* Center the slideshow horizontally */
    position: relative;
    display: flex;
    align-items: center; /* Center items horizontally */
    height: 500px; /* Set a fixed height for the slideshow container */
    overflow: hidden; /* Hide overflow if images exceed the fixed height */
  }
  
  .mySlides {
    text-align: center; /* Center the image horizontally within the slideshow */
  }
  
  .mySlides img {
    width: 100%; /* Make sure the image takes the full width of the container */
    height: 100%; /* Make sure the image takes the full height of the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    object-position: center center; /* Center the image both horizontally and vertically */
    filter: grayscale(0%) blur(0px);
  }
  
  .thumbnail-container {
    text-align: center;
    margin-top: 5%;
  }
  
  .thumbnail {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    color: rgb(159, 159, 159);
    cursor: pointer;
    display: inline-block;
  }

  .thumbnail a{
    font-size: 16px;
  }
  
  .thumbnail.active {
    color: rgb(111, 97, 64);
  }

  #main-container-slideshow{
    padding-top:10%;
  }

  /*video*/
  .gravevideo{
    display:flex;
    justify-content: center;
    margin:0;
    padding-top:15%;
}
  